# Byte-compiled / optimized / DLL files
*.py[cod]
*.pyc
__pycache__/
.vscode/
manual_test_files/
instance/
node_modules/
.env/
package-lock.json
package.json
*.code-workspace
node_modules/
.pytest_cache/
docs/
app.py
*.db
static/assets/group_templates/
sql_app.db
classes.py
app.py
previous_versions/
config.py
tests/
instructions.md
venv/*

# Other types of files


.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.log
main_mre.py
