# Byte-compiled / optimized / DLL files
*.py[cod]
*.pyc
__pycache__/
.vscode/
test/
instance/
node_modules/
env/
package-lock.json
package.json
*.code-workspace
node_modules/
.pytest_cache/
docs/
app.py
*.db
static/assets/group_templates/
sql_app.db
classes.py
app.py
previous_versions/
config.py

# Other types of files


.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.log
*.pot

# Sphinx documentation
docs/_build/

# Specific files
__pycache__/app.cpython-38.pyc
__pycache__/helpers.cpython-38.pyc
flask_session/2029240f6d1128be89ddc32729463129

python_sandbox.py
__pycache__/app.cpython-38.pyc
__pycache__/helpers.cpython-38.pyc

__pycache__/app.cpython-38.pyc
__pycache__/helpers.cpython-38.pyc
instance/database.db
flask_session/2029240f6d1128be89ddc32729463129
python_sandbox.ipynb
config.py
