{% extends "base.html" %}

{% block title %}
    Uploaded!
{% endblock %}

{% block body %}
<div class="container">
    <div class="row col-md-8 custyle">
    The following expenses will be uploaded to group '{{ group_name }}' [ID: {{ group_id }}].
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>Expense ID</th>
            <th>Error description</th>
            <!-- <th class="text-center">Actions</th> -->
        </tr>
    </thead>
    {% for expense in expenses_failed %}
        <tr>
            <td>expense.id</td>
            <td>expense.error</td>
        </tr>
    {% endfor %}
    </table>
    </div>
</div>

{% endblock %}