{% extends "base.html" %}

{% block title %}
    Submit expenses
{% endblock %}

{% block body %}
    Select the group where you want to upload expenses.

    <form action="/batch_upload_post" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <select name="group_for_upload" class="custom-select form-control mx-auto w-auto" autocomplete="off" autofocus >
                <option selected>Select a group</option>
                {% for group in groups %}
                    <option value = {{ group.id }}> {{ group.name }}</option>
                {% endfor %}
              </select>
        </div>
        <input type="file" name="batch_expenses_file" accept=".xls,.xlsx,.csv"></input>
        <button class="btn btn-primary" type="submit">Upload file</button>
    </form>
{% endblock %}

